executor {
	$slurm {
		queueSize = 500
		queue = 'htc'
	}
	$local {
		cpus = 1
		memory = '2 GB'
	}
}

process {
	cache = "lenient"
	withName: eggnog_mapper {
		container = "oras://ghcr.io/cschu/profile_me_ci:latest"
		executor = "slurm"
		cpus = 16
		time = {4.d * task.attempt}
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        memory = {64.GB * task.attempt}
		maxRetries = 3
	}
	withName: prodigal {
		container = "oras://ghcr.io/cschu/profile_me_ci:latest"
		executor = "slurm"
		cpus = 1
		time = {1.d * task.attempt}
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        memory = {8.GB * task.attempt}
		maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
